*{
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 400;
    color: #53a887;
    letter-spacing: 1px;
    margin: 30px 0;
}

.todo-list {
    width: 220px;
    padding: 20px;
    border: 1px solid white;
}

.list-head {
    /* border: 1px solid rgb(219, 219, 219); */
    display: flex;
}

.new-task {
    padding: 6px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    margin-right: 30px;
}

.add {
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #53a887;
    font-size: 16px;
    color: white;
    outline: none;
    cursor: pointer;
}
