.like, .trash{
  background-color:white;
  /* margin-top: 0px;
  margin-left: 0px; */
}

.trash{
  margin-left: 4px;
  margin-bottom: 5px;
}
.text{
  margin-top: -28px;
  margin-left: 52px;
}

.items{
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  margin-left: 320px;
}